.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
/*****************Navbar********************/

:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
}

.logo{
  width: 7.5rem;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a{
  color: var(--primary-white) !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li,  .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid vqr (--primary-orange);

}


/***********Header*************/

.header-wraper{
  position: relative;
  background: url(bgg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.main-info h1{
  color: var(--primary-orange);
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 8rem;

}

.main-info h3{
  color: var(--primary-white);
  text-transform: uppercase;
  margin-top: 1rem;
  font-weight: 600;
}

.main-info h4{
  font-size: 1rem;
  color: var(--primary-white);
  margin-top: 0.5rem;
}